body {
    margin: 0;
    padding: 0;
    font-family: "Tahoma";
}


a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.search {
    width:15%;
    height: 20px;
    float: right;
    margin: 30px;

}

.link {
    width: 100%;
    height: 75px;
    background-color: black;
}

.link-fixed {
    position: fixed;
    top: 0;
    height: 150px;
}

.link ul {
    padding: 0;
    margin: 0;
}

.link > ul > li {
    list-style: none;
    float: right;
    font-size: 15pt;
}

.link > ul > li > a {
    text-decoration: none;
    padding: 25px 35px;
    display: block;
    color: #f9f9ff;

}

.link > ul > li > a:hover {
    background-color: #4b4b4b;
}

.link > ul > li > div {
    background-color: #202020;
    border: 1px solid #545454;
    position: absolute;
    width: 100%;
    min-height: 200px;
    display: none;
    left: 0;
}

.link > ul > li > a:hover + div, .link > ul > li > div:hover {
    display: block;
}

.box1 {
    width: 25%;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;

}

.box1 > ul > li > a {
    color: #fff;
    text-decoration: none;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row::after {
    content: ' ';
    display: block;
    clear: both;
}

.login-box {
    width: 400px;
    height: 210px;
    background-color: #efefef;
    border: 1px solid rgb(0, 0, 0);
    position: fixed;
    display: none;
    top: 278px;
   /* left: 5%; */
    transition: 0.5s all linear;
    box-shadow: 3px 3px 10px 0 rgb(108, 108, 108);

}

.login-box-open {
    display: block;
}

.login-box-open {
    opacity: 1;
}

.login-box .header {
    padding: 15px;
    border-bottom: 1px solid #3b3b3b;
}
.imagebox{
    width: 10%;
    height: 70px;
    border: 1px solid #4b4b4b;
    float: right;
    margin:10px auto;

}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33333%;
}

.col-8 {
    width: 100%;
}

.col-12, .col-4, .col-8 {
    padding: 0 15px;
    float: right;
    box-sizing: border-box;
}

.m-b-15 {
    margin-bottom: 15px;
}

.box {
    height: 300px;
    border: 2px solid #000000;
}
.text{
    font-size: 15pt;
    padding:0 30px;
    margin:30px;
    text-align: center;
    width: 491px;
   min-height:131px ;
}

.navbar {
    width: 100%;
    height: 63px;
    background-color: rgba(168, 6, 6, 0.8);
    float: left;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar ul > li {
    list-style: none;
    float: right;
    font-size: 15pt;
}

.navbar ul > li > a {
    text-decoration: none;
    padding: 20px 35px;
    display: block;
    color: #fbf8ff;

    border-left: 1px solid #000000;
}

#btn2 {
    margin-top: 20px;
    width: 200px;
    height: 45px;
    font-size: 15pt;
    border-radius: 5%;
    background-color: #e2e2e2;
    border: 1px solid #9c0606;
    float: right;
    box-shadow: 1px 1px 7px 0 #181818;
    cursor: pointer;
}

#btn2:hover {
    background-color: #c0c0c0;
}


.box2 {
    width: 25%;
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid black;
    margin: auto;
    float: right;
    box-sizing: border-box;
}

.search2 {
    margin: auto;
    padding: 50px 50px;
}

.box3 {
    width: 25%;
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid black;
    margin: auto;
    float: right;
    box-sizing: border-box;
    font-size: 15pt;
    padding: 10px;
}

.box4 {
    width: 25%;
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid black;
    margin: auto;
    float: right;
    box-sizing: border-box;
    font-size: 15pt;
    padding: 10px;
}

.box5 {
    width: 25%;
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid black;
    margin: auto;
    float: right;
    box-sizing: border-box;
    font-size: 15pt;
    padding: 10px;
}

.text-center {
    text-align: center;
}

.user1 {
    width: 100%;
    text-align: center;
    font-size: 15pt;
    color: #2f2f2f;
    margin: auto;
    box-sizing: border-box;


}

.user2 {
    width: 109%;
    text-align: center;
    font-size: 15pt;
    color: #2f2f2f;
    margin: auto;
    box-sizing: border-box;

}

.user3 {
    width: 114%;
    text-align: center;
    font-size: 15pt;
    color: #2f2f2f;
    margin: auto;
    box-sizing: border-box;

}

#login1{
    width: 50px;
    height: 30px;
    text-align: center;
    margin: auto;
    font-size: 10pt;
    box-sizing: border-box;
    padding: auto;
}
#login2{
    width: 100px;
    height: 20px;
    text-align: center;
    margin: auto;
    font-size: 10pt;
    box-sizing: border-box;
}



#u, #p ,#e{
    background-color: rgb(245, 243, 234);
    border: 1px solid #242424;
    padding: 5px;
    margin: 10px;
}

footer {
    background-color: #1e1e1e;
    min-height: 30px;
    color: #fffbe7;
}

#movetotop {
    width: 60px;
    height: 60px;
    background-color: #9c0606;
    float: right;
    position: fixed;
    right: 50px;
    bottom: -60px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px 0 #2f2f2f;
    cursor: pointer;
    transition: 0.5s all ease;
}

#moveimg {
    width: 50px;
    height: 50px;
    padding: 3px;
}

#movetotop.rised {
    bottom: 50px;
}

#movetotop:hover {
    background-color: rgba(200, 6, 6, 0.77);
}

.nightmodebutton {
    width: 60px;
    height: 60px;
    background-color: rgba(149, 6, 6, 0.77);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
}

.nightmodebutton:hover {
    background-color: rgba(249, 6, 6, 0.56);
}
.col-5{
    width: 20%;


}
.col-7{
    width: 80%;

}
.col-5 ,.col-7{
    padding: 0 15px;
    float: right;
    box-sizing: border-box;
}
.row{

    border: 3px solid #000000;
    padding: auto;
}
.row::after{
    content:' ';
    display: block;
    clear: both;
}

/* .bigbox{
    margin: 10px;
    width: 100%;
    height: 530px;
    border: 1px solid #000000;
    float: right;
}*/
.box-A{
    width: 100%;
    height: 200px;
    border: 1px solid #595959;
    margin: 10px;
    float: right;
    background-color: #c0a3ab;
}
.box-B{
    width: 100%;
    height: 200px;
    border: 1px solid #595959;
    margin: 10px;
    float: right;
    background-color: #c0a3ab;
}
.box-C{
    width: 100%;
    height: 200px;
    border: 1px solid #595959;
    margin: 10px;
    float: right;
    background-color:#c0a3ab ;
}
.pic{
    width: 30%;
    height: 200px;
    float: right;
}
.text{
    text-align: right;
    float: right;
    font-family: Tahoma;
    width: 30%;

}
.btn5{
    margin-top: 20px;
    width: 200px;
    height: 45px;
    font-size: 15pt;
    border-radius: 5%;
    background-color: #e2e2e2;
    border: 1px solid #9c0606;
    box-shadow: 1px 1px 7px 0 #181818;
    cursor: pointer;
    float: right;

}
.righted {
    width: 30%;
}

.type{
    width: 190px;
    height: 30px;
    margin: 7px;
    padding: 5px;
    border: 1px solid #1e1e1e;
    border-radius:10%;
    float: right;
    font-size: 15pt;
    cursor: pointer;
    transition: 0.5s all linear;
    background-color: #f2e6f4;
}
.type:hover{
    background-color: #e2e2e2;
}
.image{
    float: right;
    padding: 0 10px;
    cursor: pointer;
}